.create-container {
    display: flex;
    align-items: center;    /* Alinhar verticalmente -- */
    justify-content: center;    /* Alinhar horizontalmente -- */
}

.create-form {
    width: 300px;
    gap: 16px;
    padding: 16px;
    border: 4px solid #691970d5;
    border-radius: 8px;
}