.login-container {
    display: grid;
    align-items: center; /* Alinhar verticalmente -- */
    justify-content: center; /* Alinhar horizontalmente -- */
}

.login-form {
    padding: 16px;
    border: 4px solid #691970d5;
    border-radius: 8px;
    width: 300px;
}