.signup-container {
    display: grid;
    align-items: center;    /* Alinhar verticalmente -- */
    justify-content: center;    /* Alinhar horizontalmente -- */
}

.signup-form {
    width: 300px;
    gap: 16px;
    padding: 16px;
    border: 4px solid #691970d5;
    border-radius: 8px;
}

.input-group {
    margin-bottom: 15px;
}